{% extends 'base.html' %}
{% load humanize %}
{% block content %}
     <br>
    <br>
    <div class="container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 product-preview">
                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|safe }}</p>
                        {% if product.is_sale %}
                            <strike> 💰 قیمت : {{ product.price| intcomma }} تومان</strike> <br>
                            💰 قیمت :  {{ product.sale_price| intcomma }} تومان
                        {% else %}
                            💰 قیمت : {{ product.price| intcomma }} تومان
                        {% endif %}<br><br><br><br>
                   
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {% csrf_token %}
                            {{ form.as_table }}
                            <input type="submit" value="اضافه کردن به سبد خرید">
                        </form>
                            <br>
                        <a class="btn btn-primary" type="submit" href="{% url 'shop:home' %}">بازگشت به صفحه اصلی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}